@import "reset.css"; /* Using a string */
@import "nav_stylesheet.css";
@import "header_stylesheet.css"; /* Using a string */
@import "synopsis_stylesheet.css";
@import "lightbox.min.css";
@import "gallery_stylesheet.css";
@import "videos_stylesheet.css";
/*
===================
FONTS
===================
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}

/*===========
  HOME PAGE NAV STYLING
============*/
.nav-container-hp{
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width: 100%;
  padding: 10px 10px 0 10px;
}
.nav-container-hp .logo-container-hp img{
  width: 400px;
}
.nav-bar-hp{
  /*background: black;*/
}
.nav-bar-hp ul li{
  display: inline-block;
  padding: 20px 25px;
  border-bottom: solid 2px transparent;
  transition: 0.5s;
}
.nav-bar-hp ul li:hover{
  background-color: #e6a429;
  border-bottom: solid 2px #db9107;
}
.nav-bar-hp .active-link{
  background-color: #e6a429;
  border-bottom: solid 2px #db9107;
}
.nav-bar-hp .menu-icons{
  margin-right: 10px;
}
.nav-bar-hp ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 3px;
}

/* =============
  AD CONTAINER STYLING
==============*/
.ad-container{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 0 35px;
  margin-top: 300px;
  color: #fff;
}
.ad-container button{
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 5px;
}
.ad-container button:active{
  outline: none;
  border: none;
}
.ad-container button:focus{
  outline: 0;
}
.ad-container a{
  text-decoration: none;
  color: #fff;
}
/*===LEFT BOX STYLING ====*/
.buy-rent-box h3{
  font-size: 15px;
  margin-bottom: 15px;
}
.buy-rent-box p{
  font-size: 20px;
  margin-bottom: 15px;
}
.buy-rent-box h1{
  font-size: 35px;
  margin-bottom: 5px;
}
.ad-container .viewing-buttons button{
  font-weight: 700;
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  border-radius: 3px;
  border: solid 2px #db9107;
  background-color: rgba(230, 164, 41, 0.6);
  transition: background-color 0.2s ease-in;
}
.ad-container .viewing-buttons button:hover{
  background-color: #db9107;
}

/*===RIGHT BOX STYLING ====*/
.vr-options-box h2{
  font-size: 30px;
  margin-bottom: 15px;
}
.vr-options-box span{
  color: #e6a429;
  color: #db9107;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
}
.ad-container .vr-options-box button{
  font-weight: 700;
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  border-radius: 3px;
  border: solid 2px #db9107;
  background-color: rgba(230, 164, 41, 0.6);
  transition: background-color 0.2s ease-in;
}
.ad-container .vr-options-box button:hover{
  background-color: #db9107;
}


/* =============
  FOOTER STYLING
==============*/
footer{
  position: fixed;

  bottom: 0;
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  text-transform: capitalize;
  background: black;
  font-size: 12px;
}
.footer-logo-container{
  margin-right: 100px;
}
.footer-logo-container img{
  width: 50px;
}
.footer-links-container{
  text-align: center;
}
.footer-links-container ul li{
  display: inline-block;
}
.footer-links-container ul li a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin: 6px;
}
.footer-links-container ul li a:hover{
  color: #f5b540;
}
footer .copy-right-container p{
  margin-top: 10px;
}
footer .copy-right-container p{
  color: white;
  display: inline-block;
  padding: 0 10px;
}
footer .copy-right-container a{
  text-decoration: none;
  color: white;
}
footer .copy-right-container a:hover{
  color: #f5b540;
}
