section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images/GITS-Movie-2017/520981-Scarlett_Johansson-Ghost_in_the_Shell-Kusanagi_Motoko-Ghost_in_the_Shell_Movie.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*height: 100vh;*/
  padding: 50px 0;
}
.title-logo-container img{
  width: 200px;
}
.about-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: 65%;
  min-width: 50%;
  padding: 50px 25px;
  background-color: rgba(34, 34, 34, 0.8);
  border: 2px solid rgba(219, 145, 7, 0.7);
  border-radius: 8px;
  color: white;
  line-height: 1.5;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(219,145,7,1);
-moz-box-shadow: 0px 0px 30px 0px rgba(219,145,7,1);
box-shadow: 0px 0px 30px 0px rgba(219,145,7,1);
overflow: auto;
}
.about-container .movie-poster-box{
  width: 100%;
  text-align: center;
}
.about-container .movie-poster-box .movie-poster{
  /*width: 100%;*/
  border: 2px solid grey;
  border-radius: 4px;
}
.purchase-box{
  border: 2px solid #333;
  border-radius: 4px;
}
.purchase-box h3{
  background-color: rgba(34, 34, 34, 0.8);
  padding: 5px 0;
  width: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* == START TAB STYLING ==*/
.about-container .tab{
  text-align: left;
  overflow: hidden;
  /*border: 1px solid #ccc;
  background-color: #f1f1f1;*/
}
.tab button{
  background-color: rgba(219, 145, 7, 0.7);
  float: left;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  width: 33.33%;
}
.tab button:hover{
  background-color: #e6a429;
  border-bottom: solid 2px #db9107;
}
.tab button.active{
  background-color: #e6a429;
}
/* ==== STYLING FOR STREAMING BUTTONS===*/
.about-container .tabcontent{
  display: none;
  padding: 20px 5px;
  background-color: rgba(34, 34, 34, 0.8);
  animation: tabcontent ease 1s;
  -webkit-animation: tabcontent ease 1s;
  -moz-animation: tabcontent ease 1s;
  -o-animation: tabcontent ease 1s;
  -ms-animation: tabcontent ease 1s;
}
@keyframes tabcontent {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes tabcontent {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes tabcontent {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes tabcontent {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes tabcontent {
  0% {opacity:0;}
  100% {opacity:1;}
}


.about-container .tabcontent ul{
  align-items: center;
  margin-bottom: 20px;
}
.about-container .tabcontent ul li{
  display: inline-block;
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #e6e6e6;
  margin: 5px 5px;
}
.about-container .tabcontent ul li img{
  width: 60px;
  vertical-align: middle;
}
.about-container .tabcontent .best-buy-logo{
  width:35px;
  height: 20px;
  padding: 0 12px;
}
.about-container .tabcontent p{
  font-size: 10px;
  margin-bottom: 15px;
}
/* == END TAB STYLING ==*/


/*===START RIGHT SIDE STYLING==*/
.about-container .about-content{
  width: 100%;
  padding: 0 25px;
}
.about-container .about-content span{
  float: right;
}
.about-container .about-content tr{
  text-align: left;
}
.about-container .about-content td{
  padding-bottom: 10px;
}
